.header__user-info {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .header__user-info {
    align-items: center;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    margin-right: 26px;
    min-height: 90px;
    position: absolute;
    top: -142px;
    width: 100%;
    border-bottom: 1px solid var(--header-line-color);
    padding-bottom: 20px;
  }
}