.gallery {
  display: grid;
  grid-template-columns: repeat(3, fit-content(282px));
  grid-auto-rows: fit-content(361px);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  margin-top: 50px;
}
@media screen and (max-width: 1023px){
  .gallery {
    grid-template-columns: repeat(2, fit-content(282px));
  }
}
@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: fit-content(282px);
    margin-top: 36px;
    justify-content: center;
  }
}