.root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 45px 200px 60px 200px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1279px) {
  .root {
    max-width: 880px;
    padding: 45px 0 60px;
  }
}
@media screen and (max-width: 1023px) {
  .root {
    max-width: 581px;
    padding: 28px 0 36px 0;
  }
}