.card__delete-button {
  width: 18px;
  height: 19px;
  background-image: url("../../../assets/images/card/delete.svg");
  background-repeat: no-repeat;
  transition: var(--transition-opacity);
  position: absolute;
  top: 20px;
  right: 20px;
}
.card__delete-button:hover {
  opacity: .6;
}