.popup__input {
  width: 100%;
  font-family: inherit;
  border: none;
  outline: none;
  color: #000000;
  padding: 0 0 13px 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.popup__input::placeholder {
  color: #C4C4C4;
}