.header::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--header-line-color);
  margin: 40px 0;
}
@media screen and (max-width: 767px) {
  .header::after {
    margin: 28px 0 42px;
  }
}